<html>
<body>
<h3>
На сайте mlip.ru Вам был задан вопрос:
</h3>
<a href="mailto:<%= @email %>?subject=Ответ от веб-студии MLIP"><%= @email %></a>

<h6><%= @name %></h6>
<h6><%= @phone %></h6>
<h3>Вопрос:</h2>
<h6><%= @message %></h6>
</body>
</html>
