!!!
%html
  %head
    %title Студия веб-дизайна ARTLevelDesign
    %link{:rel=>"shortcut icon", :href=>'assets/favicon.ico'}
    = stylesheet_link_tag 'application', :media => "all"# 'main.css'
    = javascript_include_tag 'application.js', 'main_effect.js'
    = javascript_include_tag params[:controller]
    = csrf_meta_tag
  %body
    #container
      #head
        #head_cent
          #head_top
            #left-menu
              %ul
                %li
                  %a.home{:href=>"#"} &nbsp;
                %li
                  %a.tree{:href=>"#"} &nbsp;
                %li
                  %a.mail{:href=>"#"} &nbsp;
                %li
                  %span создание сайтов
          #head_center
            #right-menu
              %ul
                %li
                  = link_to 'главная', :root
                %li
                  = link_to 'услуги', article_path(Article.find_by_slug('uslugi'))
                %li
                  = link_to 'контакты', article_path(Article.find_by_slug('kontakty'))
            .clear
            %h3.logo
              = link_to 'ARTLevel_Design', :root
            #navigation-block
              %ul#sliding-navigation
                - @article_services.children.each do |art|
                  %li.sliding-element
                    = link_to art.title, article_path(art)            
          #head_bottom
      #content
        #content_cent
          #content_sup
            -##line_news
            -#  %p
            -#    Приветствуем Вас на нашем сайте. Здесь Вы найдете много полезной информации. Разделы сайта расчитаны на широкую аудиторию рекламодателей...
            -#    %a{:href=>"#"} читать дальше...
            -#  %ul
            -#    %li
            -#      %a{:href=>"#"} Новости из мира дизайна
            -#    %li
            -#      %a{:href=>"#"} Программирование от и до
            -#    %li
            -#      %a{:href=>"#"} Творческий подход, что это?
            -#  %ul
            -#    %li
            -#      %a{:href=>"#"} Хотите спросить почему мы?
            -#    %li
            -#      %a{:href=>"#"} Сто лучших вопросов зачем?
            -#    %li
            -#      %a{:href=>"#"} Сто лучших ответов...
            %br/
            %br/
            %br/
            %br/            
            = yield
            .clear
            %span.angle_welcom &nbsp;
            %span.line_welcom &nbsp;
    #rasporka
    #footer
      #footer_center
        #logo_footer
          %h6
            = link_to 'ARTLevel_Design', :root
        #footer-menu
          %ul
            %li
              = link_to 'главная', :root
            %li
              = link_to 'услуги', article_path(Article.find_by_slug('uslugi'))
            %li
              = link_to 'контакты', article_path(Article.find_by_slug('kontakty'))
        %p &copy; ARTLevelDesign. Все права защищены.Разработчик: ARTLevelDesign
        #line_footer
          %img{:src=>"assets/line_footer.gif", :height=>"50", :width=>"2", :alt=>"полоса"}
    %script{type: "text/javascript"}
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter15522727 = new Ya.Metrika({id:15522727, enableAll: true, webvisor:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    %noscript
      %div
        %img{src: "//mc.yandex.ru/watch/15522727", style: "position:absolute; left:-9999px;", alt: ""}