!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:name=>"description", :content=>"#{@article.seo_description}"}
    %meta{:name=>"keywords", :content=>"#{@article.seo_keywords}"}
    %meta{:name=>"author", :content=>"ARTLeveDesign"}
    %title= title
    %link{:rel=>"shortcut icon", :href=>'/assets/favicon.ico'}
    %meta{:name=>'yandex-verification', :content=>'7f6db4be469ce9ed'}
    = stylesheet_link_tag 'application', :media => "all"# 'main.css'
    = javascript_include_tag 'application.js', 'main_effect.js'
    = javascript_include_tag params[:controller]
    = csrf_meta_tag
  %body
    #container
      #head
        #head_cent
          #head_top
            #left-menu
              %ul
                %li= link_to ' ', :root, class: 'home', title: 'на главную'
                %li= link_to ' ', tree_articles_path, class: 'tree', title: 'структура сайта'
                %li= mail_to "admin@mlip.ru", '', subject: 'письмо в веб-студию', encode: "javascript", class: 'mail', title: 'написать письмо в веб-студию'
                %li= content_tag(:span, 'создание сайтов')
          #head_center
            #right-menu
              %ul
                - @top_menu.each do |art|
                  %li= link_to art.title, article_path(art), title: art.seo_title
            .clear
            %h3.logo= link_to 'ARTLevel_Design', :root
            #navigation-block
              %ul#sliding-navigation
                - @service_articles.each do |art|
                  %li.sliding-element= link_to art.title, article_path(art), title: art.seo_title            
          #head_bottom
      #content
        #content_cent
          #content_sup
            #line_news
              %p
                != truncate(sanitize(@top_article.body, tags: []), length: 150, ommission: '.')
                = link_to 'читать дальше...', article_path(@top_article), title: @top_article.title
              %ul{style: 'margin-left:150px;'}
                - @menu_articles[0..2].each do |art|
                  %li= link_to art.title, article_path(art), title: art.seo_title
              %ul
                - @menu_articles[3..5].each do |art|
                  %li= link_to art.title, article_path(art), title: art.seo_title
            %br/
            %br/
            %br/
            %br/            
            = yield
            .clear
            %span.angle_welcom &nbsp;
            %span.line_welcom &nbsp;
    #rasporka
    #footer
      #footer_center
        #logo_footer
          %h6= link_to 'ARTLevel_Design', :root
        #footer-menu
          %ul
            - @top_menu.each do |art|
              %li= link_to art.title, article_path(art), title: art.seo_title
        %p &copy; MLIP. Все права защищены.Разработчик: mlip.ru
        #line_footer
          %img{:src=>"/assets/line_footer.gif", :height=>"50", :width=>"2", :alt=>"полоса"}
    %script{type: "text/javascript"}
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter15522727 = new Ya.Metrika({id:15522727, enableAll: true, webvisor:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    %noscript
      %div
        %img{src: "//mc.yandex.ru/watch/15522727", style: "position:absolute; left:-9999px;", alt: ""}